<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Markos Calderon, Juan Plaza, Gustavo Salazar, Denisse Cayetano" />
   
	<!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <!--script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script-->
</head>
<body>
	<div class="site">
		<div class="title">
			<a href="/">Puerto 3000</a>
			<a class="extra" href="/">Inicio</a>
		</div>
		{{ content }}
		
		<div class="footer">
			<p>"La peor parte de la programación es la documentación..."</p>
  		</div>
	</div>

</body>
</html>
